# These macros are required for Fluidd to correctly function.
# You can copy these entries into your printer.cfg.
# 
# Alternatively, import this file by adding
# this line into your printer.cfg;
# 
# [include client_macros.cfg]

# Macros for pausing, resuming and changing filament mid-print.

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
  TURN_OFF_HEATERS
  CLEAR_PAUSE
  SDCARD_RESET_FILE
  BASE_CANCEL_PRINT

#
# This is an example (but working) macro to park toolhead out of the way of print
# You can also use your existing
#
[gcode_macro _PARK]
description: Park toolhead safely away from print
gcode:
    {% set Z_HOP = params.Z_HOP|default(5)|float %}
    {% set x_park = printer.toolhead.axis_maximum.x|float + 5.0 %}
    {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}

    {% if act_z < (max_z - Z_HOP) %}
        {% set z_safe = Z_HOP %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}

    G91
    G1 Z{z_safe} F900
    G90
    G0 X{x_park} Y{y_park} F6000


[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
  status_busy
  {% set E = params.E|default(5) %}
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 15.0 %}
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 40) %}
      {% set z_safe = 40 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  SAVE_GCODE_STATE NAME=PAUSE_state
  BASE_PAUSE
  G91
  G1 E-{E} F2100
  G1 Z{z_safe} F900
  G90
  G0 X{x_park} Y{y_park} F6000
  G91

[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
  {% set E = params.E|default(3) %}
  status_printing
  G91
  G1 E{E} F2100
  RESTORE_GCODE_STATE NAME=PAUSE_state
  BASE_RESUME

[gcode_macro M600]
gcode:
  CHANGE_FILAMENT  

[gcode_macro M601]
gcode:
    CHANGE_FILAMENT

[gcode_macro CHANGE_FILAMENT]
gcode:
  M117 Change Filament
  PAUSE
  SONG_SINGLE_BEEP
  M117

#[gcode_macro PAUSE]
#rename_existing: BASE_PAUSE
# change this if you need more or less extrusion
#variable_extrude: 3.0
#gcode:
  ##### read E from pause macro #####
#  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
#  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
#  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
#  {% set max_z = printer.toolhead.axis_maximum.z|float %}
#  {% set act_z = printer.toolhead.position.z|float %}
#  {% if act_z < (max_z - 2.0) %}
#      {% set z_safe = 2.0 %}
#  {% else %}
#      {% set z_safe = max_z - act_z %}
#  {% endif %}
  ##### end of definitions #####
#  SAVE_GCODE_STATE NAME=PAUSE_state
#  BASE_PAUSE
#  G91
#  G1 E-{E} F2100
#  G1 Z{z_safe} F900
#  G90
#  G1 X{x_park} Y{y_park} F6000

#[gcode_macro RESUME]
#rename_existing: BASE_RESUME
#gcode:
  ##### read E from pause macro #####
#  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### end of definitions #####
#  G91
#  G1 E{E} F2100
#  RESTORE_GCODE_STATE NAME=PAUSE_state
#  BASE_RESUME